tw-story {
  font-family: monaco, monospace, helvetica, sans-serif;
  font-size:150%;
  color: black;
  /*background-color: orange;*/
  background-image: url('https://cdn.history.com/sites/2/2014/01/plantation-slaves-P.jpeg');
  background-size: 100% 100%;
  
  /*Create a background around the text 'http://www.zingerbugimages.com/backgrounds/parchment_paper_wallpaper_texture_seamless.jpg' */
  
}

tw-passagedata {
    color: red;
}

[tags="next"] {
    background: purple;
}

.textBox { /*div partition*/
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 15%;
  border: 5px;
  background-image: url('http://www.zingerbugimages.com/backgrounds/parchment_paper_wallpaper_texture_seamless.jpg');
  background-repeat: repeat;
  padding: 10px;
  border: solid;
  border-color: #666;
}


<span style="background-color:red;">text of a sort -- add a <p> in side this ?? </span>
